
@{
    ViewBag.Title = "ClaimError";
}

<h2>Claim Error Info</h2>

<div align="center">
    <h2 style="color:red">@ViewBag.ErrorMessage</h2>
</div>

<div align="center">
    <a href="/Home/UserPage" class="btn btn-primary"><h3>Back to User Page</h3></a>
</div>