
@{
    ViewBag.Title = "NewView";
}

<h2>Renewal Error Info</h2>

<div align="center">
    <h2 style="color:red">@ViewBag.ErrorMessage</h2>
</div>

<div align="center">
    <a href="/Home/UserPage" class="btn btn-info"><h3>Back To User Page</h3></a>
</div>